.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.tasks-container {
  display: flex;
  justify-content: space-around;
}

.tasks-column {
  width: 45%;
  border: 1px solid grey 0,5;
  border-radius: 15px;
}

.tasks-column h2 {
  text-decoration: underline;
}