/* Todo.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  width: 900px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #218838;
}

.tasks-container {
  display: flex;
  justify-content: space-around;
}

.tasks-column {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks-column h2 {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.task.completed {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.task .buttons button {
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.task .buttons button:hover {
  background-color: #0056b3;
}

.task.completed .buttons button {
  background-color: #28a745;
}

.task.completed .buttons button:hover {
  background-color: #218838;
}